# Dépendances
node_modules/
.npm

# Fichiers de build Next.js
.next/
out/

# Variables d'environnement (JAMAIS committer .env)
.env
.env.local
.env.production

# Prisma
prisma/migrations/.gitignore

# Auto-généré par Next.js
next-env.d.ts

# Divers
.DS_Store
*.log
.vercel
.vscode/
